.kpis {
    padding: 1em;
    width: 100%;
}

.kpi {
    @media screen and (max-width: $screen-large) {
        width: 50%;
    }
    @media screen and (max-width: $screen-small) {
        width: 100%;
    }
    width: 25%;
    padding: 2em;
    background: $grey-light;
    color: $grey-dark;
    border-radius: $border-radius;
    text-align: center;

    .title {
        font-family: $font-primary;
        font-size: 1.1em;
        margin-top: 0;
        margin-bottom: 1em;
    }
    
    .number {
        color: $accent;
        font-family: $font-secondary;
        font-size: 3em;
        margin-bottom: 1em;
        margin: 0;
    }
}