<div *ngIf="chat" class="chat-header">
    <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + chat.image + ')'}"></div>
    <h2 class="column-heading">{{ chat.name }}</h2>
    <a routerLink="/dashboard/chat" class="chat-options">✕</a>
</div>

<div *ngIf="chat" class="chat-container">
    <div #autoscroll class="conversation">
        <app-speech-bubble *ngFor="let speechbubble of conversation" [data]="speechbubble"></app-speech-bubble>
    </div>
    <!-- <div class="quick-options">
        <button (click)="sendMessage('e')">Actie</button>
    </div> -->
    <form (ngSubmit)="sendMessage(message.value)">
        <input #message type="text" name="message" placeholder="Uw bericht" required>
        <input type="submit" value="›">
    </form>
</div>
