* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    // word-break: break-all;
}

.column-heading {
    text-align: center;
    padding: 1em;
    margin: 0;
}


h1,h2,h3,h3,h4,h5,h6 {
    font-family: $font-secondary;
    color: $grey-dark;
}

input {
    font-size: inherit;
    font-family: inherit;
}

.btn,
button,
input[type="submit"] {
    border: none;
    outline: none;
    background: $accent;
    color: white;
}

input[type="text"] {
    padding: 1.2em;
    outline: none;
    color: $grey-dark;
}