app-active-chats {
    width: 100%;

    .chat-listing {
        padding: 1em;
        padding-top: 0;
    }

    .chat-item {
        cursor: pointer;
        background: $grey-light;
        padding: 1em;
        margin-bottom: 0.5em;
        border-radius: $border-radius;
        display: flex;
        transition: $transition;
        border-right: 0 solid transparent;
        
        &:hover {
            border-right: $border-radius+0.2em solid $accent !important;
        }
        
        &.unread {
            border-right: $border-radius solid $accent;

            .profile-picture {
                &::after {
                    opacity: 1;
                }
            }
        }

        .profile-picture {
            position: relative;
            width: 4em;
            height: 4em;
            margin-right: 2em;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                opacity: 0;
                top: 0;
                right: 0;
                width: 1em;
                height: 1em;
                background: $accent;
                border-radius: 50%;
            }
        }
    }
}