app-active-chats {

    .chat-listing {
        padding: 1em;
        padding-top: 0;
    }

    .chat-item {
        cursor: pointer;
        background: $grey-light;
        padding: 1em;
        margin-bottom: 0.5em;
        border-radius: $border-radius;
        display: flex;
        transition: $transition;
        border-right: 0 solid transparent;
        
        &.active {
            border-right: $border-radius solid $accent;
        }
        
        &:hover {
            border-right: $border-radius+0.2em solid $accent !important;
        }
        
        &.unread {
            .profile-picture {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}