$bubble-margin: 10%;
$bubble-spacing: 1.5em;
$bubble-arrow: 0.4em;

.bubble {
    position: relative;    
    padding: 0.8em;
    border-radius: $border-radius;
    margin-left: $bubble-margin;
    margin-top: $bubble-spacing;
    margin-bottom: $bubble-spacing;
    background: $accent;
    color: white;
    
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        border-top: $bubble-arrow solid transparent;
        border-bottom: $bubble-arrow solid transparent;
        border-left: $bubble-arrow solid $accent;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
    }

    &.recieved {
        background: $grey-light;
        color: $grey-dark;
        margin-left: 0;
        margin-right: $bubble-margin;

        &::after {
            left: auto;
            right: 100%;
            border: none;
            border-top: $bubble-arrow solid transparent;
            border-bottom: $bubble-arrow solid transparent; 
            border-right: $bubble-arrow solid $grey-light; 
        }
    }

    p {
        margin: 0;
    }

    .date {
        opacity: 0.5;
        font-size: 0.9em;
        margin-top: 0.3em;
    }
}
